
body {
    background-color: black !important;

}
/* h1 {
    color: #ffffff;
} */
.container{
    width: 768px !important;
    margin:0 auto;
    height:100vh !important;
    justify-content: center;
    text-align: center;

}
.btn-lg {
    max-width: 3em;
}
input {
    text-align: center;
    font-size: 30px !important;
    font-family: monospace !important;
    background-color:black;
    letter-spacing: 15px;
    color:#ffffff;
}

/* input:focus {
    outline: none !important;
} */
#virtualKeyboard {
position: absolute;
bottom: 0;
justify-content: center;
margin: 0 auto;
margin-left:-15px;
max-width:768px;
display: block;
}

.locAj {
    text-align: center;
    border: 2px red solid;
}

#startButton {
    margin-top: 2em; 
}
#livesNumber {
    border: none;
    border-bottom: 3px #ffffff solid;
    outline:none;
    letter-spacing: 1px;
    font-size: 16px !important;
}

#passwordInput {
border: none;
outline: none;
}