
body {
    background-color: black !important;
    
}
/* h1 {
    color: #ffffff;
} */
.container{
    width: 768px !important;
    margin:0 auto;
    height:100vh !important;
    justify-content: center;
    text-align: center;
    
}
.btn-lg {
    max-width: 3em;
}
input {
    text-align: center;
    font-size: 30px !important;
    font-family: monospace !important;
    background-color:black;
    letter-spacing: 15px;
    color:#ffffff;
}

/* input:focus {
    outline: none !important;
} */
#virtualKeyboard {
    position: absolute;
    bottom: 0;
    justify-content: center;
    margin: 0 auto;
    margin-left:-15px;
    max-width:768px;
    visibility: hidden;
}

.locAj {
    text-align: center;
    border: 2px red solid;
}

#startButton {
    margin-top: 2em; 
    font-family: 'Permanent Marker', cursive;
    border: none !important;
    color: #95968d;
    font-size: 3em !important;
    max-width:9em;
    background-color: transparent;
}
#startButton:focus {
    outline: none;
}
#livesNumber {
    border: none;
    border-bottom: 5px #c0b3b3ec solid;
    outline:none;
    letter-spacing: 1px;
    font-size: 16px !important;
}

#passwordInput {
    border: none;
    outline: none;
}

.jumbotron {
    background-color: black !important;
    color: #95968d;
}

.display-4 {
    font-family: 'Waiting for the Sunrise', cursive;
    font-size: 92px !important;
}

.lead {
    font-family: 'Indie Flower', cursive;
}



/* 
#startButton.btn-lg {
    font-size: 3em !important;
    max-width:9em;
} */

/* #overlay {
    width: 750px;
    height: 200px;
    position: absolute;
    bottom:0;
    background-color: black;
    opacity: 1;
    z-index:2;
    transition: 2.5s ease-in-out;
    transition-duration: 5s;
}
#overlay:hover{
    opacity: 0;
} */
